<div id="everything">
  <div id="intro-header">
    <div id="color-background">
      <div style="height: 100%; width: 100%; position: relative">
        <div id="color-background-inner">
        </div>
      </div>
    </div>
    <div id="text-background">
      <div style="height: 100%; width: 100%; position: relative">
        <div id="left-corner-background">
          <div id="unrotate" style="height: 100%; width: 100%; position: relative">
            <h1 id="logo">favicolor</h1>
            <p id="motto">Everyone's favorite colors,<br>at your demand.</p>
            <div id="left-links">
              <%= link_to "favorite colors", '#' %>
              <%= link_to "sign up", '#' %>
              <%= link_to "log in", '#' %>
              <%= link_to "color picker", color_picker_path %>
              <%= link_to "color analyzer", color_analyzer_path %>
              <%= link_to "about us", about_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="intro-lower">
    <h1>we do stuff</h1>
    <p>ajoiwejoiefawjoifwaeoij faewij faew jioagwrjio geraijo gear</p>
  </div>
</div>
