<!DOCTYPE html>
<html>
<head>
  <title>FavColor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="popups-outer">
    <div id="popups-outer-fixed">
      <div style="width:100%;height:100%;position:relative">
        <p id="popup-close">x</p>
      </div>
    </div>
  </div>
  <%= render 'layouts/header' %>
  <div id="everything">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><p><%= message %></p></div>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
</html>
