<!DOCTYPE html>
<html>
<head>
  <title>favicolor</title>
  <%= stylesheet_link_tag    'intro', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><p><%= message %></p></div>
<% end %>

<%= yield %>

</body>
</html>
